@model Selection
@{
    ViewData["Title"] = "City";
    IEnumerable<Directions> directions = ViewBag.Directions;
}
@using System.Linq;

<div class="slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <img class="d-block w-100" src="/img/ticket.jpg" alt="Купить билет">
            <div class="carousel-caption d-none d-md-block main text-white ">
                <p class="display-3">Путешествие начинается с билета</p>
                <h3>Аэропорт ближе, чем кажется - всего пара кликов до выхода на посадку</h3>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row mb-2">
        @foreach (var city in directions.GroupBy(c => c.City))
        {
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        @*<strong class="d-inline-block mb-2 text-primary">World</strong>*@
                        <h3 class="mb-0">
                            <a class="text-dark" asp-controller="Ticket" asp-action="Day" asp-route-city="@city.Key.ToString()">@city.Key.ToString()</a>
                        </h3>
                        <div class="mb-1 text-muted">Цена от: @directions.Where(p => p.City == city.Key).Min(p => p.Price) р.</div>
                        <p class="card-text mb-auto">
                            @*Компании:*@
                            @foreach (var company in directions.Where(p => p.City == city.Key).GroupBy(a => a.AirCompany))
                            {
                                <img style="width:36px; height:36px" src="~/img/AirCompany/@company.Key.ToString()" alt="label" />
                            }
                        </p>
                        <p class="card-text mb-auto">
                            @*Дни:*@
                            @foreach (var day in directions.Where(p => p.City == city.Key).GroupBy(d => d.Day.DayOfWeek))
                            {
                                <span>@DBReader.GetDayOfWeek(day.Key) </span>
                            }
                        </p>
                        <a asp-controller="Ticket" asp-action="Day" asp-route-city="@city.Key.ToString()" class="btn btn-primary text-white">Купить билет</a>
                    </div>
                    <a asp-controller="Ticket" asp-action="Day" asp-route-city="@city.Key.ToString()">
                        <img class="card-img-right flex-auto d-none d-lg-block img-history" src="~/img/City/@city.FirstOrDefault().Picture" alt="Card image cap">
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class="container divider">

</div>
